.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

:host {
  height: auto;
  overflow: auto;
  width: 100%;
}

.card-item {
  justify-content: space-around;
  padding: 1rem;
  flex-direction: column;
  justify-self: stretch;
}

form {
  display: block;
  text-align: left;
  margin: 15px 15px 0 15px;
}
